body {
    background: #f2f7fa;
}

.main {
    min-height: 500px;
    background: #fff;
}

.banner {
    min-height: 500px;
    background: url("../img/simislider_2.jpg") no-repeat;
    background-size: 100% 100%;
}

.fon-banner {
    background: url("../img/simislider_1.png");
    background-size: 100% 100%;
}

ul.navbar-nav.row {
    width: 100%;
    margin: 10px 0px;
}


.menu-item {
    width: 20%;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    transition: 1s all ease;
    cursor: pointer;
    border-right: 1px solid #f79400;
}


nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0px;
}

.logo {
    border-radius: 500px;
}

.banner .row {
    padding-top: 140px;
}

.company {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    display: flex;
    align-items: center;
    background: #f8f9fad9;
    padding: 10px;
    border-radius: 10px;
}

.zvonok {
    text-align: center;
    padding: 10px;
    /* right: 10px; */
    background: #008640c7;
    border-radius: 10px;
    height: 216px;
}

.zvonok button {
    height: 70px;
    background: #f79400;
    color: aliceblue;
    width: 100%;
}

.zvonok a {
    font-size: 2em;
    color: #fff;
    width: 100%;
}

.zvonok p {
    color: #fff;
    font-size: 24px;
}

p {
    margin: 0px;
}

.menu {
    background: #f79400;
}

.menu-item a {
    color: #FFFFFF;
    transition: 1s all ease;
}

.menu-item:hover a {
    color: #f79400;
}


.menu-item:hover {
    background: #FFFFFF;
    cursor: pointer;
}

.active, .menu-item.active a {
    color: #f79400;
    background: #FFFFFF;
}

.txtcol {
    color: #f79400;
}

.zag {
    font-weight: 800;
}

.usluga {
    display: flex;
    margin-top: 10px;
}

.usluga:hover h3 {
    color: #f79400;
}

.usluga:hover .uslugaIMG {
    width: 70px;
    /*margin: 30px;*/
}

.uslugaIMG {
    width: 50px;
    margin: 50px;
    transition: 0.5s all ease;
}

.usluga h3 {
    padding-top: 20px;
    font-size: 1.75rem;
}

.line {
    width: calc(100% - 400px);
    background: #1b1e21;
    height: 1px;
    margin: 0px 200px;
}

@media (max-width: 767px) {
    .banner {
        min-height: 0px;
    }

    .banner .row {
        padding: 10px 0px;

    }

    img.logo.col-sm-3 {
        width: 100px;
    }

    h1.col-sm-9.text-center {
        font-weight: 600;
        font-size: 23px;
    }

    .usluga h3 {
        padding-top: 20px;
        font-size: 1.1rem;
        width: 100%;
    }

    .usluga {
        display: block;
        text-align: center;
    }

    .uslugaIMG {
        width: 75px;
        margin: 10px;
    }
    .line{
        width: calc(100% - 80px);
        margin: 0px 40px;
    }
}

@media (max-width: 991px) {
    .menu-button {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .menu-item {
        width: 100%;
    }
}

