body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url("https://images3.alphacoders.com/914/thumb-1920-914671.png") no-repeat #ffffffe8;
    background-size: 100% 100%;
}
#nav{
    width: 33%;
    margin: 10px auto;
    text-align: center;
    border-radius: 20px 10px;
    padding: 2px;
    background: #ffffffe8;
}
#menu{
    width: 100%;
}
#txtHint{
    width: 80%;
    background: #ffffffe8;
    margin: 10px auto;
    border: black solid 5px;
    border-radius: 10px;
    min-height: 500px;
    height: content-box;
    overflow: auto;
}
#info{
    width: 45%;
    border-bottom-left-radius: 10px;
    border: black solid 2px;
    float: left;
    height: 200px;
    margin: 5px 2%;
    text-align: center;
}