a{
    height: 50px;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.row{
    margin-top: 20px;
    border: 2px white solid;
}
html {
    min-height: 100%;
}
body {
    min-height: 100%;
    background: black;
    background: url("/template/zast2.png") no-repeat ;
    background-size: 100% 100%;
}