a{
    padding: 5px;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.row{
    margin-top: 20px;
    border: 2px white solid;
}

body {
    background: black;
    background: url("/template/zast3.jpg") no-repeat ;
    background-size: 100% 100%;

}